
<div class="row">
<div class="col-xs-6">
  			<a class="btn btn-sm btn-default" href="/admin/users">Users</a>

  			<a class="btn btn-sm btn-default" href="/admin/projects">Projects</a>
    </div>
</div>







