<%=javascript_include_tag "/assets/pdfObject.js" %>
<object data="myfile.pdf" type="application/pdf" width="100%" height="100%">
 
  <p>It appears you don't have a PDF plugin for this browser.
  No biggie... you can <a href="/assets/time_input_of_Effort_Tracker.pdf">click here to
  download the PDF file.</a></p>
  
</object>


<script type="text/javascript">
      window.onload = function (){          
        var success = new PDFObject({ url: "/assets/time_input_of_Effort_Tracker.pdf" }).embed();
      };
</script>




<%= javascript_tag do %>
  window.onload = function (){
<% if params[:page] == "/welcome/index"%>
  var success = new PDFObject({ url: "/assets/time_input_of_Effort_Tracker.pdf"}).embed();
<% end %>
<!--       <% if @current_user.admin == true%>
                  var success = new PDFObject({ url: "/assets/EffortTrackerManualAdmin.pdf" }).embed();                    
      <% elsif @current_user.time_sheet_manager == true %>
              var success = new PDFObject({ url: "/assets/EffortTrackerManualtsm.pdf" }).embed();         
      <% elsif @current_user.time_sheet_collaborator == true %>
              var success = new PDFObject({ url: "/assets/EffortTrackerManualtsc.pdf" }).embed();                
      <% elsif @current_user.work_order_admin == true %>
                  var success = new PDFObject({ url: "/assets/EffortTrackerManualWoAdmin.pdf" }).embed();
      <% elsif @current_user.manager == true %>
                  var success = new PDFObject({ url: "/assets/EffortTrackerManualManager.pdf" }).embed();

      <% elsif @current_user.role =="Classified" || @current_user.role =="Unclassified"%>
                    var success = new PDFObject({ url: "/assets/EffortTrackerManualEmployee.pdf" }).embed();

      <% elsif @current_user.client == true %>
                      var success = new PDFObject({ url: "/assets/EffortTrackerManualWoAdmin.pdf" }).embed();

      <% else @current_user.role =="GA" %>
                        var success = new PDFObject({ url: "/assets/EffortTrackerManualGa.pdf" }).embed();
                        
      <%end%>  -->
      
  }
<% end %>

