<div class="col-xs-12"> 
			<div class=" table-responsive">
 			<table class="table  projectTable table-condensed table-bordered table-hover">	
            	<tr></tr>
          	</table>
			</div> <!-- table responsive-->
	</div>    		

<script type="text/javascript">
  $(document).ready(function(){
	var days = {1:"Mon", 2:"Tue", 3:"Wed", 4:"Thu", 5:"Fri", 6:"Sat", 0:"Sun"};
    $("#txtDate").datepicker({ altField:  '#altDate', altFormat: 'yy-mm-dd', 
    	showOtherMonths: true, selectOtherMonths: true, firstDay: 1, changeYear: true,
    	onSelect: function() {
        	var selectedDate = $("#txtDate").datepicker('getDate');
				$('.projectReport').trigger('change');
			
		 }
		});

		
    $('.projectReport').val('weekly');
    


  $('.projectReport').change(
		function() {
			var todayValue = $("#altDate").val();
			var viewValue =  $(this).val();
			dataStr = "today=" + todayValue + "&view=" + viewValue;
			$.ajax({
          		method: 'GET',
          		data: dataStr,
          		url: '/projectReport',
          		dateType: 'json',
          		success: function(data){
   			     	$(".projectTable").find("tr").remove();
						$.each(data, function (i, obj) { 
							var totalHours = new Array();
							if (obj.dates) {
							   	
							   	var firstRow = '<tr style="color:#428bca"><td class="projectCell">Project</td>';
							   	$.each(obj.dates, function(i, value) {
							   		var date = new Date(value);
							   		var today = new Date();
							   		if (viewValue == "weekly") {
							   			var dateColHead = days[date.getDay()] + ":<br/>";
							   			if (today.getDate() == date.getDate() && today.getMonth() == date.getMonth() && today.getFullYear() == date.getFullYear()){
							   				firstRow += '<td style="text-decoration:underline;">' + dateColHead + $.format.date(date, "M/d/yy") + '</td>'
							   			}
							   			else{
							   				firstRow += '<td>' + dateColHead + $.format.date(date, "M/d/yy") + '</td>';
										}
									}
									else if (viewValue == "monthly") {
										var count = i + 1;
										var dateColHead = $.format.date(date, "M/d/yy");
										dateColHead = "Week " + count + ":<br /> " + dateColHead;
										if (today.getDate() < date.getDate() || today.getDate() >= (date.getDate() + 7)
											|| today.getFullYear() != date.getFullYear() || today.getMonth() != date.getMonth()) {
											firstRow += '<td>';}
										else{
											firstRow += '<td style="text-decoration:underline;">';
										}
										firstRow += dateColHead + '</td>';
											
									}
									else if (viewValue == "yearly") {
										if (today.getMonth() != date.getMonth() || today.getYear() != date.getYear()) {
											firstRow += '<td>';
										}
										else {
											firstRow += '<td style="text-decoration:underline;">';
										}
										var dateColHead = $.format.date(date, "MMM: yyyy");
										firstRow += dateColHead + '</td>';
									}
									
							   	});
							   	firstRow += '<td>Total</td></tr>';
								$('.projectTable > tbody:last').append(firstRow);   
							}
							
							else if (obj.totals) {
            					totalString = '<tr><td style="color:#428bca">Total: </td>';
            					for (i = 0; i<obj.totals.length; i++) {
            						totalString += '<td>' + obj.totals[i] + '</td>';
            					}
            					totalString += '</tr>';
            					$('.projectTable > tbody:last').append(totalString);   

            				}
            				else {	
            					$.each(obj, function (key, value) {
            						var nextRow = '<tr><td>' + key + '</td>';
            						$.each(value, function (i, info) {
            							nextRow += '<td>' + info.projectHours + '</td>';
            							});
            						nextRow += '</tr>';
            						$('.projectTable > tbody:last').append(nextRow);   
								});
							}


								
								
							 }); 
								
            	
            		
            		
            		},

            	failure: function(){
              		alert("Unable to load the today values.");
           		}
        	});

		
		});
		

  </script>
