<% if !@srs.empty?%>
<h3 style="color:blue;">GA Reports</h3>
<br/>
<table class="table table-striped table-bordered" style="width:50%">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Manager
      </th>
      <th>
        Month
      </th>
      <th>
        Report Action
      </th>
    </tr>
  </thead>
  <tbody>    
  <% @srs.each do |u| %>    
      <tr>
        <td>
          <%= User.find(u.report_for).name %>
        </td>
        <td>
          <%= User.find(u.submitted_to).name %>
        </td>
        <td>
          <%= u.month %>
        </td>
        <td>
          <%= link_to "View Report", "/view_report?rid="+u.id.to_s, :target => "new" %>
        </td>
      </tr> 
  <% end %>
    </tbody>
</table>
<% end %>
