<div class="fieldset">
  <legend> <b>version: <%=params[:v].gsub("_",".")%> </b></legend>
      <ol><b>
        <li> Implemented Accordion in Few pages. </li>
        <li> Automated Session Expiry.  </li>
        <li> Exception handling. </li>
        <li> Bug Fixes on Image Asset Management. </li>
        <li> Updated User Manual. </li>  </b>
      </ol> 
    </legend>
</div>