<style>
  #footer{
    position:fixed;
    //height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    box-shadow: 0px -3px 4px 0px rgba(72, 79, 95, 1);
  }
</style>  

<div class="container text-center footer" id="footer" style="width:100%;background-color: rgb(217, 228, 236);">  
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2015 Effort Tracker.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="/versionUpdates?v=1.0.0" target="new">version 1.0.0</a></li>
            </ul>
    </div>
</div>

